{% extends "base.html" %}

{% block content %}

    {% if SearchStatus == 'Error' %}
        <div class="well fade in daytips">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>作者水平有限,并没有关于<font color="red"><b>"{{ keyword }}"</b></font>的内容,请换一个词试试</strong>
        </div>
    {% endif %}
    {% if SearchStatus == 'Success' %}
        {% for film in SearchResult %}
            <tr class="active">
                <td>{{ film.id }}</td>
                <td>
                    {% ifequal film.type_code 1 %}
                        最新电影
                    {% endifequal  %}
                    {% ifequal film.type_code 2 %}
                        国内电影
                    {% endifequal  %}
                    {% ifequal film.type_code 3 %}
                        欧美电影
                    {% endifequal  %}
                    {% ifequal film.type_code 4 %}
                        日韩电影
                    {% endifequal  %}
                </td>
                <td>{{ film.film_name }}</td>
                <td>{{ film.download_ftp_url }}</td>
            </tr>
        {% endfor %}
    {% endif %}

{% endblock %}
